/* Google Font Import Link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 20px;
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  z-index: 1000;
  background-color: #0B2027;
}

nav.sticky {
  padding: 15px 20px;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.logo a {
  margin-left: -80px;
  font-weight: 700;
  font-size: 35px;
  color: #F6F1D1;
  text-decoration: none;
  letter-spacing: 2px;
}

nav.sticky .logo a {
  color: #F6F1D1;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: -160px;
}

.nav-links li {
  list-style: none;
  margin-left: 20px; /* Added margin between links */
}

.nav-links li a {
  text-decoration: none;
  color: #F6F1D1;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #4070f4;
}

nav.sticky .nav-links li a {
  color: #F6F1D1;
  transition: all 0.4s ease;
}

nav.sticky .nav-links li a:hover {
  color: #0e2431;
}

.notification-icon {
  margin-top: 5px;
  font-size: 10px;
}

.bell-icon {
  fill: gold;
  width: 32px;
  height: 32px;
}

.profile-button {
  display: flex;
  align-items: center;
  background-color: #266493;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.profile-button:hover {
  background-color: #45a049;
}

.liveclass-btn {
  appearance: none;
  background-color: #F6F1D1;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  height: 43px;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.liveclass-btn:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.liveclass-btn:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.liveclass-btn:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.liveclass-btn:focus {
  outline: 1px transparent;
}

.liveclass-btn:before {
  display: none;
}

.liveclass-btn:-webkit-details-marker {
  display: none;
}

.notification-icon {
  margin-top: 5px;
  font-size: 10px;
}

.bell-icon {
  fill: gold;
  width: 32px;
  height: 32px;
}

.profile-button {
  display: flex;
  align-items: center;
  background-color: #40798C;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.profile-button i {
  margin-right: 10px;
}

.profile-button:hover {
  background-color: #45a049;
}
